ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
button {
  /*  background-color: white;
  border: none; */
}

.gaming,
.lydbok,
.manga,
.programmering {
  border: 1px solid;
  max-width: 2%;
  display: flex;
  flex-wrap: wrap;
}
