ul {
  list-style-type: none;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
h2 {
  border-radius: 10px;
  margin: 10px;
}

.dokumentasjon,
.refleksjon,
.oppgave {
  max-width: 70%;
  align-self: center;
}
